<div id="cabecalho">


    <h1 class="texto-centralizado">Battle<span class="white-color">Ship</span></h1>

    <div id="instagrams">

        <a href="https://www.instagram.com/guiturtera/" class="icn-instagram">
            <img src="../../assets/instagram.svg" (mouseover)=trocaCor(0) (mouseout)=trocaCor(0)>
            <span 
            (mouseover)=trocaCor(0) (mouseout)=trocaCor(0)
            [style.background-color] = "corInstagram[0]? 'white' : 'rgb(233, 233, 168)'">guiturtera</span>
        </a>

        <a href="https://www.instagram.com/guiturtera/" class="icn-instagram">
            <img src="../../assets/instagram.svg" (mouseover)=trocaCor(1) (mouseout)=trocaCor(1)>
            <span
            (mouseover)=trocaCor(1) (mouseout)=trocaCor(1)
            [style.background-color] = "corInstagram[1]? 'white' : 'rgb(233, 233, 168)'">lucao</span>
        </a>

        <a href="https://www.instagram.com/equipe_glancam/" class="icn-instagram">
            <img src="../../assets/instagram.svg" (mouseover)=trocaCor(2) (mouseout)=trocaCor(2)>
            <span
            (mouseover)=trocaCor(2) (mouseout)=trocaCor(2)
            [style.background-color] = "corInstagram[2]? 'white' : 'rgb(233, 233, 168)'">glancam</span>
        </a>

    </div>

</div>
